body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333333;
  font-family: sans-serif;
  font-size: 1.125em;
}
a {
  color: #000000;
  text-decoration: none;
}
hr {
  color: #000000;
  background-color: #666666;
  height: 1px;
  border: none;
}
.clear {
  clear: both;
}
.gray {
  background-color: #eeeeee;
  text-align: center;
  padding: 5px;
}
.align-right {
  float: right;
}
img.social {
  height: 32px;
}
img.socialsmall {
  height: 16px;
  vertical-align: baseline;
}
.tag-title {
  font-size: 1.3em;
}
.year {
  font-size: 1.3em;
}
.month {
  margin-top: 15px;
}
.footnote {
  font-size: 0.8em;
}
aside div#user_meta {
  padding: 40px 40px 20px 40px;
  text-align: center;
  background-color: #eeeeee;
}
aside div#user_meta a {
  color: #002255;
  color: #000000;
}
aside div#user_meta h2 {
  font-size: 1.1em;
  line-height: 1.1em;
  margin: 0;
  padding: 0;
}
aside div#user_meta h4 {
  font-size: 0.9em;
  margin-bottom: 5px;
}
aside div#user_meta p {
  margin: 0 0 15px 0;
  font-size: 0.75em;
}
aside div#user_meta img.logo {
  margin-bottom: 5px;
}
aside div#user_meta hr {
  margin: 10px 50px 10px 50px;
}
aside div#user_meta ul {
  font-size: 0.75em;
  list-style-type: none;
}
aside div#user_meta ul li {
  margin-right: 5px;
  display: inline;
}
aside div#user_meta ul li a {
  font-weight: bold;
}
main header {
  padding: 10px 40px 5px 40px;
  color: #000000;
  font-weight: 100;
}
main header p {
  font-size: 1em;
  padding: 20px 0;
}
main header p a {
  color: #990011;
  color: #666666;
  font-weight: 100;
}
main article {
  max-width: 640px;
  padding: 0px 40px 20px 40px;
}
main article div#article_title h2 {
  margin: 20px 0px 0px 0px;
}
main article div#article_meta {
  font-size: 0.7em;
  color: #666666;
}
main article div#article_meta p {
  margin: 0;
  padding: 0;
}
main article div#article_meta i {
  padding-left: 30px;
}
main article div#article_meta a {
  color: #0066cc;
  text-decoration: underline;
}
main article div#article_text {
  font-size: 0.9em;
  line-height: 1.375em;
}
main article div#article_text a {
  color: #0066cc;
  text-decoration: underline;
}
main article div#article_text h2 {
  font-size: 1.5em;
  margin: 20px 0px 0px 0px;
  font-weight: 100;
}
main article div#article_text h3 {
  font-size: 1.1em;
}
main article div#article_text li {
  margin: 10px 0 10px 0;
}
main article div#article_text code {
  margin: 2px;
  padding: 0;
  color: #000000;
  font-size: 0.75em;
  font-family: monospace;
  background: #eeeeee;
}
main article div#article_text pre {
  margin: 22px 2px 22px 2px;
  padding: 2px;
  color: #000000;
  border-left: 3px solid #0e94ec;
  font-size: 0.75em;
  font-family: monospace;
  background: #eeeeee;
  line-height: 1.125em;
  overflow-x: auto;
}
main article div#article_text blockquote {
  margin: 22px 2px 22px 2px;
  padding-left: 40px;
  border-left: 10px solid #eeeeee;
  font-family: monospace;
}
main article div#article_text blockquote p {
  margin: 0px;
  padding: 0px;
}
main article div#article_text blockquote .fw {
  display: inline-block;
  min-width: 60px;
  font-family: monospace;
}
main footer {
  padding: 40px;
}
main footer a.button_accent {
  padding: 10px;
  border: 2px solid #0e94ec;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-transform: uppercase;
  color: #0e94ec;
  font-size: 1.125em;
}
main footer a.button_accent:hover {
  color: #ffffff;
  background-color: #0e94ec;
}
main footer a.button_accent:active {
  color: #ffffff;
  background-color: #0e94ec;
}
main div#ending_message {
  padding: 0 40px 0 40px;
  font-color: #eeeeee;
  font-size: 0.675em;
}
@media screen and (min-width: 1024px) {
  aside {
    width: 20%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: fixed;
  }
  aside h2 {
    margin: 10px 0 0 0;
  }
  aside div#user_meta {
    margin-bottom: -9999px;
    padding-bottom: 9999px;
    max-width: 220px;
    text-align: right;
  }
  aside div#user_meta img.logo {
    float: right;
  }
  aside div#user_meta hr {
    margin: 10px 0px 10px 120px;
  }
  aside div#user_meta ul li {
    display: block;
    margin-bottom: 5px;
  }
  main {
    width: 80%;
    position: absolute;
    top: 0;
    left: 20%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  main article {
    max-width: 640px;
  }
  main header {
    border-top: 0;
  }
}
